.o_attendance_dashboard{
    padding: 20px;

    h2{
       font-weight: 600;
       color: #374151;
      }

    .form-control{
        max-width: 400px;
        border-radius: 8px;
      }

    .card{
        border: none;
        border-radius: 10px;
        transition: transform 0.2s ease-in-out;
        }

    .card:hover{
        transform: translateY(-3px);
        }

    .card-body{
        padding: 20px;
        }

    .card h2{
        margin: 0;
        font-size: 32px;
        font-weight: bold;
        }
    .alert{
        border-radius: 10px;
        }

   }